/* Стилизация кнопки */

.button {
    font-family: Roboto;
    font-size: 16px;
    line-height: 19px;
    border-radius: 8px;
    text-align: center;
    box-shadow: 0px 4px rgba(0, 0, 0, 0.25);
    color: #fff;
    padding: 15px 60px;
    cursor: pointer;
}

.button_primary {
    background-color: #4263EB;
    border: 1px solid #000000;
    transition: opacity 200ms ease-in-out, background 200ms ease-in-out;
}

.button_primary:hover {
    background-color: #2342C0;
}
    

.button_secondary {
    background-color: #7048E8;
    transition: opacity 200ms ease-in-out, background 200ms ease-in-out;
}

.button_secondary:hover {
    background-color: #5028C6;
}

.button_alternate {
    background-color: #fff;
    color: #495057;
    border: 1px solid #ACB5BD;
    transition: opacity 200ms ease-in-out, background 200ms ease-in-out;
}

.button_alternate:hover {
    border: 1px solid #212429;
}

.button:disabled {
    opacity: 0.5;
    cursor: not-allowed;
}