.page {
    font-family: "Inter", sans-serif;
    color: #212429;
    width: 1440px;
    margin: 0 auto;
}

.header {
    font-size: 50px;
    line-height: 64px;
    font-weight: 500;
    padding-top: 96px;
    padding-left: 160px;
    background-color: #FFF;
}

.main {
    background-color: #F9FAFC;
    height: 1036px;
}

.footer {
    text-align: center;
}

.footer__title{
    font-size: 38px;
}

.footer__discription {
    font-size: 16px;
    line-height: 24px;

}