.conteiner-skeleton {
    width: 579px;
    height: 192px;
}

.skeleton {
    border: 1px solid var(--grey-3);
    border-radius: 8px;
    padding: 24px 40px 32px 24px;
}

.skeleton__header {
    padding-bottom: 24px;
    display: flex;
}

.skeleton__circlre {
    width: 64px;
    height: 64px;
    border-radius: 50px;
    background-color: var(--grey-2);
    margin-right: 16px;
}

.skeleton__line {
    height: 20px;
    background: linear-gradient(92.5deg, #DDE2E5 6.44%, #E2E6E8 38.4%, #F3F5F5 56.48%, #E3E7EA 77.5%, #DDE2E5 102.52%);
    margin-bottom: 8px;
}

.skeleton__line:last-child {
    margin-bottom: 0;
}

.line_small {
    width: 172px;
}

.line_medium {
    width: 257px;
}
